n8n_workflow_document_converter.json
{
  "name": "Document to Markdown Converter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "convert-document",
        "responseMode": "lastNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "convert-document"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3143/api/convert",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "output_format",
              "value": "json"
            },
            {
              "parameterType": "formData",
              "name": "ai_enhancement",
              "value": "={{ $json.body?.ai_enhancement ?? 'true' }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "convert-api-call",
      "name": "Convert Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ filename: $json.filename, output_filename: $json.output_filename, markdown: $json.markdown, status: $json.status }) }}"
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": "={{ $env.GDRIVE_WATCH_FOLDER ?? 'root' }}",
        "event": "fileCreated",
        "options": {}
      },
      "id": "gdrive-trigger",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [240, 560],
      "disabled": true
    },
    {
      "parameters": {
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "gdrive-download",
      "name": "Download from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [480, 560],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3143/api/convert",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "parameterType": "formData",
              "name": "output_format",
              "value": "json"
            },
            {
              "parameterType": "formData",
              "name": "ai_enhancement",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "convert-gdrive-file",
      "name": "Convert Drive File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 560],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "extract-frontmatter",
      "name": "Extract Frontmatter",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 560],
      "disabled": true,
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "filename",
              "name": "filename",
              "value": "={{ $json.filename }}",
              "type": "string"
            },
            {
              "id": "markdown",
              "name": "markdown",
              "value": "={{ $json.markdown }}",
              "type": "string"
            },
            {
              "id": "summary",
              "name": "summary",
              "value": "={{ $json.markdown.match(/summary: ['\"]?(.*?)['\"]?\\n/)?.[1] ?? 'No summary' }}",
              "type": "string"
            },
            {
              "id": "tags",
              "name": "tags",
              "value": "={{ $json.markdown.match(/tags:\\n([\\s\\S]*?)\\n---/)?.[1]?.trim() ?? '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "parameters": {
        "content": "## Document to Markdown Converter\n\n### Workflow Overview\nThis workflow provides two ways to convert documents to AI-enhanced markdown:\n\n**Path 1 - Webhook API (Active):**\nAccepts document uploads via webhook POST, sends them to the localhost:3143 converter API, and returns the markdown result. Use this from other n8n workflows or external systems.\n\n**Path 2 - Google Drive (Disabled):**\nAutomatically converts new files added to a Google Drive folder. Enable this path and configure your Drive folder ID to activate.\n\n### Setup\n1. The webhook path is ready to use immediately\n2. For Google Drive: enable the disabled nodes, connect your Google account, and set the folder ID\n3. API timeout is set to 120s for large documents with AI enhancement\n\n### Supported Formats\nPDF, DOCX, PPTX, HTML, CSV, XLSX, images, Jupyter notebooks, email files",
        "height": 440,
        "width": 360
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-100, 240]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Convert Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Document": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download from Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download from Drive": {
      "main": [
        [
          {
            "node": "Convert Drive File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Drive File": {
      "main": [
        [
          {
            "node": "Extract Frontmatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "document-processing"
    },
    {
      "name": "ai"
    }
  ]
}
